@import "tailwindcss";

:root {
  --background: #fbdecc;
  --main-color: #840f0f;

  * {
    font-family: "Dela Gothic One", sans-serif;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-main: var(--main-color);
}

body {
  background: var(--background);
  color: var(--main-color);
}

.bg-photo {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.font-kiwimaru {
  font-family: "Kiwi Maru", sans-serif;
}
